<div class="row" >
    <div  class="card" >
        <h3 >My Cart ({{count}})</h3>
        <hr style="opacity: 0.3;">
        <div *ngFor="let i of items[0]">
            <ul class="order">
                
                
                <li >
                    <p style="color: dodgerblue;"> {{i.ProductsName}}</p> 
                </li>

                <li>
                    <p>{{i.ProductsDescription}}</p> 
        
                </li>
                <li>
                    <p style="color: grey;"><b>{{i.ProductsColor}}</b></p> 
                </li>

                <li>
                    <p><b>{{i.ProductsPrice |currency:"INR"}}</b></p> 
                </li>
              
               
                <li>
                    <p><button><b>SAVE FOR LATER</b></button>
                       <button (click)="remove(i.ProductsId)"><b>REMOVE</b></button>
                    </p>
                </li>
            </ul>
            <hr style="opacity: 0.3;">
        </div>
    </div>
    <div class="card1" *ngIf="items[0]!=0; else elseBlock" >
        <div class="de" >
                <h3 style="color: grey;font-size: 15px; padding-top: 7px;">PRICE DETAILS</h3>
                <hr>
                <p >Price <b style="float: right; margin-right: 10px;">{{items[1]|currency:"INR"}}</b></p>
                <p>Delivery Charges <b style="color: green; margin-right: 10px; float:right;font-size: 15px;">FREE</b></p>
                <hr>
                <p >Total Amount <b style=" float: right; margin-right: 10px;">{{items[1] |currency:"INR"}}</b> </p>
                <hr>
                <button routerLink="/address">PLACE ORDER</button>
        </div>
    </div>  
    <ng-template #elseBlock>
        <div class="dis">
            <i class="fas fa-shopping-basket" style="margin-top: 200px; font-size: 100px; color: tomato;"></i>
            <p style="text-align: center; font-size: 18px;"><b> Your cart is empty!</b></p>
        </div>
    </ng-template>
</div>
