<ul>
  <li ><a href="">Electronics</a></li>
  <li><a href="">Men</a></li>
  <li><a href="">Women</a></li>
  <li><a routerLink="" routerLinkActive="active">Kids</a></li>
  

    <input  type="text" id="myInput" placeholder="Search products item and more..." title="Type in a name">
 

  <div class="dropdown">
  <button class="dropbtn" *ngFor="let p of count"><b>{{p.username|titlecase}}</b></button>
  <div class="dropdown-content">
     <a href="" style="font-size: 14px;"><i style="color:royalblue" class="fa fa-user-circle"></i> My Profile</a>
    <a style="font-size: 14px;" routerLink="/MyOrder"><i style="color:royalblue" class="fa fa-folder"></i> Orders</a>
    <a href="" style="font-size: 14px;"><i style="color:royalblue" class="fa fa-heart"></i> Wishlist</a>
    <a href="" style="font-size: 14px;"><i style="color:royalblue" class="fa fa-wallet"></i> Wallet</a>
    <a href="" style="font-size: 14px;"><i style="color:royalblue" class="fa fa-sign-out-alt"></i> Logout</a>
  </div>
</div>
<a routerLink="/cart"><i  style="margin-left: 150px; font-size: 16px; color: white;" class="fas fa-shopping-cart"><b>  Cart</b> </i>
  <span class="cart-basket d-flex align-items-center justify-content-center" style="position:absolute; color: brown; margin-top: 15px;">
  </span>
</a>

</ul>
<br>
<div>
  <img src="assets/images/Christmas.gif" width="100%" height="30%">
</div>
<div class="car" ><p style="margin-left: 9px; margin-bottom: 9px;">Top Deals on The Items</p></div>
<div class="col">
    <div class="card" *ngFor="let i of item ; let j=index; let k=index" >
      <img style="width: 192px; height: 170px; overflow: hidden;" src="{{images[j].path}}" >
        <h2 class="des" style="color:royalblue">{{i.ProductsName}}</h2>
        <p class="price"> {{i.ProductsPrice | currency:"INR"}}</p>
        <p><button (click)="addCart(i.ProductsId)">Add to Cart</button></p>
        
    </div>

</div>



  
 

  
 

  





