.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 1200px;
    font-family: arial;
    height:150px;
    position:sticky;
    overflow: hidden;
    margin-left: 8%;
    cursor: pointer;
  }
  .order{
    margin-left: 20px;
    list-style-type: none;
    display: block;
    cursor: pointer;
    

}
.card:hover{
  opacity: 0.7;
}

.dis {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 1200px;
  font-family: arial;
  height:500px;
  position:sticky;
  overflow: hidden;
  margin-left: 8%;
  text-align: center;

} 
.card button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(245, 35, 35);
  text-align: center;
  cursor: pointer;
  width:300px;
  margin-left: 800px;

}
.order li{
  margin-left: 200px;
}




